@use '../settings/mixins' as m;
@use '../settings/variables' as v;
@use 'sass:map';

.About {
    max-width: 112.5rem;
    margin: 2rem;
    padding-top: 2rem;
    @include m.tablet {
        margin: 5rem 2rem 1rem;
    }
    &-title {
        @include m.flex(row, nowrap, flex-start, center);
        font-size: 1.7rem;
        font-family: map.get(v.$fuentes, titulos);
        font-weight: bold;
    }
    &-container {
        margin-top: 2rem;
        @include m.desktop {
            @include m.flex(row, nowrap, space-evenly, center);
        }
    }
    &-picture {
        display: block;
        margin: 0 auto;
        width: 15.625rem;
        height: 15.625rem;
        @include m.tablet {
            width: auto;
            height: auto;
        }
        @include m.desktop {
            width: 50%;
        }
    }
    &-img {
        max-width: 20rem;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
    }
    &-credentialsList {
        display: none;
        @include m.tablet {
            @include m.flex(row, wrap, space-between, center);
            margin: 1rem 2rem;
        }
    }
    &-description {
        margin: 2rem 0;
        @include m.telefono-l {
            margin: 2rem 1rem;
        }
        @include m.desktop {
            margin: 1rem 2rem;
            width: 50%;
        }
    }
}