@use '../../styles/settings/mixins' as m;
@use '../../styles/settings/variables' as v;
@use 'sass:map';

.Icon {
    position: relative;     // para mostrar el toolTip correctamente
    width: 2rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
    @include m.telefono-l {
        width: 2.2rem;
    }
    @include m.desktop-l {
        width: 2.6rem;
    }
}