@use '../settings/mixins' as m;
@use '../settings/variables' as v;
@use 'sass:map';

.ProyectCard {
    max-width: 23rem;
    flex: 0 0 80%;
    scroll-snap-align: start;
    margin-right: 1rem;
    
    @include m.desktop {
        @include m.flex(column, nowrap, space-between, center);
        max-width: 50rem;
        margin-right: 0;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        transition: transform 0.7s ease;
        &:hover {
            transform: translate(-5px);
        }
    }
    @include m.desktop {
        height: 18rem;
    }
    
    &-divImageDesc {
        @include m.flex(column, nowrap, center, center);
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        overflow: hidden;
        padding: 0.5rem;
    }
    &-image {
        width: 100%;
        height: 100%;
        max-height: 10rem;
        border-radius: 0.5rem;
        overflow: hidden;
        transition: transform 0.7s ease;
    }
    &-description {
        @include m.position(absolute, 0, 0, 0, 0);
        @include m.flex(column, nowrap, space-evenly, center);
        padding: 1.5rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: #f5f5f5;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.7s ease;
        border-radius: 0.5rem;
        overflow: hidden;
        &:hover {
            opacity: 1;
        }
    }
    &-titleDescription {
        font-family: map.get(v.$fuentes, titulos);
        font-size: 1.2rem;
    }
    &-techsDescription, &-clicDescription {
        font-family: map.get(v.$fuentes, textos);
        margin: 0.5rem 0;
    }
    &-techsDescription {
        margin: 1.5rem 0;
    }
    &-clicDescription {
        font-style: italic;
        text-transform: uppercase;
        font-size: 0.8rem;
    }
    &-buttons, &-modal-buttons {
        @include m.flex(row, nowrap, center, center);
        @include m.desktop {
            margin-bottom: 1rem;
        }
    }
    &-button, &-modal-button {
        padding: 1rem;
        margin: 0.5rem 1rem; 
        font-size: 0.8rem;
        font-family: map.get(v.$fuentes, textos);
        font-weight: bold;
        border: 1px solid var(--color-blanco);
        border-radius: 0.5rem;
        transition: background-color 0.7s ease;
        &:hover {
            background-color: var(--color-azul-claro);
            color: black;
        }
    }
}