@use '../settings/mixins' as m;
@use '../settings/variables' as v;
@use 'sass:map';

.Proyect {
    max-width: 112.5rem;
    margin: 2rem;
    padding-top: 2rem;
    @include m.tablet {
        margin: 2rem;
    }
    &-title {
        @include m.flex(row, nowrap, flex-start, center);
        font-size: 1.7rem;
        font-family: map.get(v.$fuentes, titulos);
        font-weight: bold;
    }
    &-bloq {
        margin-top: 1rem;
        padding: 1rem 0;
        @include m.tablet {
            padding: 1rem 2rem;
        }
        &:last-child {
            @include m.desktop {
                margin-top: 3rem;
            }
        }
    }
    &-bloqTitle {
        @include m.flex(row, nowrap, flex-start, center);
        font-style: italic;
        font-weight: bold;
        &:hover {
            cursor: pointer;
        }
        @include m.desktop {
        }
        p {
            width: auto;
        }
        &-icon {
            display: inline-block;
            cursor: pointer;
            width: 1.25rem;
            margin-left: 2rem;
            transform: rotate(0deg);
            transition: all 0.7s ease;        // le doy all, con rotate no funciona la transición
            &--show {
                transform: rotate(90deg);
            }
        }
    }
    &-bloqDiv {
        max-height: 0;
        opacity: 0;
        overflow-y: hidden;
        transition: max-height 1s ease, all 1s ease;
        &--show {
            max-height: 100rem;      // le doy de sobra, cada tarjeta max-width 246px (6 filas completas aprox)
            opacity: 1;
            overflow-y: auto;
        }
        
    }
    &-description {
        max-height: 3rem;
        overflow: hidden;
        transition: max-height 1s ease;
        &--show {
            max-height: 35rem;
        }
        @include m.desktop-l {
            overflow: visible;
            max-height: 35rem;
        }
        
    }
    &-readMore {
        @include m.flex(row, nowrap, flex-end, center);
        width: 100%;
        font-family: map.get(v.$fuentes, textos);
        font-style: italic;
        margin: 0.5rem 0;
        @include m.desktop-l {
            display: none;
        }
    }
    &-ul {
        @include m.flex(row, nowrap, flex-start, center);
        display: flex;
        margin-top: 1rem;
        padding-bottom: 1rem;
        overflow-x: auto;
        // height: auto;
        scroll-snap-type: x mandatory;
        @include m.desktop {
            @include m.grid-auto-fill(23rem, 2rem);
        }
    }
    &-pError {
        font-family: map.get(v.$fuentes, textos);
        text-transform: uppercase;
    }


    // KEYFRAMES PROYECT
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.75);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}