@use '../settings/mixins' as m;
@use '../settings/variables' as v;
@use 'sass:map';

.Proyect {
    max-width: 112.5rem;
    margin: 2rem;
    padding-top: 2rem;
    @include m.tablet {
        margin: 2rem;
    }
    &-title {
        @include m.flex(row, nowrap, flex-start, center);
        font-size: 1.7rem;
        font-family: map.get(v.$fuentes, titulos);
        font-weight: bold;
    }
    &-div {
        margin-top: 1rem;
        padding: 1rem 0;
        @include m.tablet {
            padding: 0 2rem;
        }
        &:last-child {
            @include m.desktop {
                margin-top: 3rem;
            }
        }
    }
    &-ul {
        @include m.flex(row, nowrap, flex-start, center);
        display: flex;
        margin-top: 1rem;
        padding-bottom: 1rem;
        overflow-x: auto;
        height: auto;
        scroll-snap-type: x mandatory;
        @include m.desktop {
            @include m.grid-auto-fill(23rem, 2rem);
        }
    }
    &-pError {
        font-family: map.get(v.$fuentes, textos);
        text-transform: uppercase;
    }


    // KEYFRAMES PROYECT
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.75);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}