@use '../settings/mixins' as m;
@use '../settings/variables' as v;
@use 'sass:map';

.Tooltip {
    @include m.position(absolute, null, null, null, null);
    @include m.flex(row, nowrap, center, center);
    min-width: 5rem;
    max-width: 7rem;
    background-color: var(--color-negro);
    padding: 0.5rem;
    border: 1px solid var(--color-blanco);
    border-radius: 4px;
    pointer-events: none;
    z-index: 10;
    animation: fadeIN 0.8s ease forwards;
    &--outAnimation {
        animation: fadeOUT 0.8s ease forwards;
    }
    @include m.telefono-l {
        min-width: 6rem;
        max-width: 8.8rem;
    }
    &-p {
        font-size: 0.65rem;
        font-family: map.get(v.$fuentes, textos);
        font-style: italic;
        color: var(--color-blanco);
        @include m.telefono-l {
            font-size: 0.8rem;
        }
    }
}

@keyframes fadeIN {
    from { opacity: 0; transform: translateY(-3rem); }
    to { opacity: 1; transform: translateY(-0.5rem); }
}
@keyframes fadeOUT {
    from { opacity: 1; transform: translateY(-0.5rem); }
    to { opacity: 0; transform: translateY(-3rem); }
}