@use './variables' as v;
@use 'sass:map';

// (opcional) Respetamos preferencia usuario de animaciones y transiciones reducidas
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

// Preferencias para el modo oscuro
// @media (prefers-color-scheme: dark) {
//     :root{
//         --color-blanco: #f5f5f5;
//         --color-negro: #393939;
//     }
// }

// Preferencias para el modo claro
// Por defecto está configurado en modo oscuro, si el usuario quiere o tiene la
//preferencia activada, se cambiará a modo claro.
@media (prefers-color-scheme: light) {
    :root{
        --color-blanco: #393939;
        --color-negro: #f5f5f5;
    }
}


// (Opcional) Respetamos preferencia usuario por tema configurado contraste alto
@media (prefers-color-scheme: high) {
  :root{
        --color-blanco: #fff;
        --color-negro: #000;
    }
}
