@use './variables' as v;
@use 'sass:map';

h1, h2, h3, h4 {
    font-weight: 600;
    text-align: center;
}

h4 {
    font-weight: normal;
}

body {
    max-width: 112.5rem;
    margin: 0 auto;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    transition: all 1.5s ease;

    &.lightMode {
        --color-blanco: #393939;
        --color-negro: #f5f5f5;
    }

    &.highLightMode {
        --color-blanco: #000;
        --color-negro: #fff;
    }
    &.highDarkMode {
        --color-blanco: #fff;
        --color-negro: #000;
    }
}